.product {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
  height: 250px;
}

.product-img {
  flex: 0 1 40%;
  border-right: 1px solid;
}

.product-content {
  flex: 0 1 60%;
  padding: 1.2rem 3.6rem;
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 1.8rem;
  color: #000;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.price {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

.sell-price {
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
  color: #000;
}

.cost-price {
  padding: 0 1.2rem;
  text-decoration: line-through;
  font-size: 1.2rem;
  font-weight: 600;
}

.discount {
  font-size: 1.4rem;
  font-weight: 800;
  color: var(--text-grey);
  margin-bottom: 1.2rem;
}

.quantity {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.4rem;
}

.quantity label {
  font-size: 1.2rem;
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 60%;
}

.plus,
.minus {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-greyDark);
  color: var(--bg-darkWhite);
  height: 15px;
  width: 15px;
  padding: 0.5rem;
  border-radius: 100rem;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
}

.qty {
  font-size: 1.6rem;
  font-weight: 600;
}

.btn-container {
  gap: 1.2rem;
  padding: 2.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  transition: transform 0.3s ease-in-out;
}

.btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
}
