.cart-main {
  margin: 2.4rem 2.4rem 0;
  min-height: 70vh;
  padding: 1.2rem;
  display: flex;
  justify-content: space-around;
}

.main-heading {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.cart-section {
  flex: 0 1 65%;
  padding: 1.2rem 2.4rem;
  display: grid;
  row-gap: 4.8rem;
  grid-template-columns: minmax(30%, 60%);
  grid-template-rows: 250px;
  justify-content: space-around;
}

/* Cart Summary styling */

.cart-summary {
  padding: 1.2rem 2.4rem;
  flex: 0 1 30%;
  height: max-content;
  background: var(--text-greyLight);
  border-radius: 5px;
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.2);
}

.horizontal-rule {
  width: 100%;
}

.summary-heading {
  font-size: 1.6rem;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  color: #000;
}

.cart-summary-heading {
  display: none;
}

.summary-items {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 1.2rem 0.6rem;
}

.final-amount {
  display: flex;
  flex-direction: column;
}

.final-amount .summary-items {
  font-size: 1.4rem;
}

.savings {
  margin-left: auto;
}

.btn-primary {
  margin: 1.2rem 0;
  background-color: var(--primary);
}
