.products-outer-container {
  display: flex;
}

.product-menu {
  margin: 1rem 0;
  flex: 0 1 80%;
  padding: 1.2rem 4.8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.6rem 0;
  justify-content: center;
}

.page-path-heading {
  display: flex;
  flex-direction: column;
  color: black;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.product-counter {
  font-size: 2.4rem;
}

.product-menu .no-item {
  grid-column: 1 / -1;
}
